.yul {
    width: 70px;
}

.xz {
    background-color: purple;
    width: fit-content;
    text-align: center;
    font-size: 70px;
}

input[type="text"] {
    width: 100%;
}

.cx {
    margin: 30px;
    text-decoration: none;
}

.tol {
    margin-left: 60px;
    width: fit-content;
    border-radius: 4px;

}
.go {
    background-color: purple;
}


.val {
    list-style-type: none;
    display: flex;
    font-size: 30PX;
    margin-left: 100px;
    bottom: 50px;
    text-decoration: none;
}
.val :hover{
    color: firebrick;
    border: 1px solid rebeccapurple;
    width: fit-content;
}

.rol {
    margin-left: 220px;
}

.tas {
    background-color: goldenrod;
    width: fit-content;
    margin-left: 80px;
    padding: 5px;
    top: 60px;
    display: flex;
    flex-direction: row;
}
.tass{
    margin-top:19px ; 
    padding-right: 5px;
    background-color: white;
    width:10px;
    border-radius: 40px;
    
}

.hello {
    margin-left: 70px; 
    border-left: 5px solid gold;
    padding: 0px 0px 0px 10px;
}

.de {
    background-color: black;
    color: white;
    text-align: center;


}


.sa {
    margin: 50px;
    padding: 0px;
}

.far {
    color: red;
}

.formenu {
    border: 2px solid purple;
    padding: 0px;
    width: 100%;
    background: white;
}

.rat {
    display: flex;
    overflow: hidden;
    width: 90%;
    flex-direction: row;
    margin-left: 6%;
    bottom: 0px;
}

.form {
    background: purple;
    width: 50%;
}

.formenu {
    margin: ;
    padding: 6px 20px 6px 6px;
    width: 100%;

}

.to {
    background-color: white;
    display: flex;
    float: right;
    top: 30px;
}

button {
    background-color: gold;
    border: 1px solid;
}

.bob {
    background-color: gold;
    margin-left: 70%;
    bottom: 30px;
    border: none;
}

.col {
    background-color: burlywood;
    height: ;
    width: 40%;
    border: ;
    padding: 30px;
}

.ded {
    margin: 50px;
}

#mn {
    margin: 0px;
    width: 100%;
}

.forsr {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    border: 1px solid;
    margin-left: 400px;
    margin-top: 20px;
}

.wal {
    margin: 0px;
    width: 50%;
}

.form,
.wal {
    margin-right: 40px;
}

/* .wal {
    margin: 10px;
} */

.koke {
    background-color: goldenrod;
    padding: 20px;
}

.xol {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    margin-left: 800px;
}

.pop {
    margin-left: 70px;
}
.far{
    color: red;
     margin-left: 70px;
}


.con {
    color: blueviolet;
}

.kal {
    width: 50px;
}

#zad {
    color: blue;
    font-size: 50px;
}

#mam {
    color: red;
    font-size: 50px;
}

#mac {
    color: deeppink;
    font-size: 50px;
}

#tem {
    color: yellow;
    font-size: 50px;
}

#zx {
    color: darkred;
    font-size: 50px;
}

#mn {
    width: 100%;
    height: 100%;
}

#bz {
    color: chocolate;
    font-size: 30px;
    margin-left: 400px;
    margin-right: 10px;
}

.fd {
    font-size: 30px;
}